@if (chat(); as chat) {
  <app-avatar-circle
    class="size32"
    [avatarUrl]="chat.userFrom.avatarUrl"
  >
  </app-avatar-circle>

  <div class="last-message__wrapper">
    <div class="last-message__header-wrapper">
      <strong
        class="last-message__username chat-user">{{ chat.userFrom.firstName }} {{ chat.userFrom.lastName }}</strong>
      <span>{{ chat.createdAt | date: 'd.MM.yyyy' }}</span>
    </div>
    <div class="last-message__message">{{ chat.message ?? 'Чат пустой' }}</div>
    <div class="counter-messages">
      <svg icon="comment" class="svg16 message-icon"></svg>

    </div>
  </div>

}
