:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
}

.comment {
  &__body {
    display: grid;
    grid-gap: 8px;
    margin-right: 28px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
