@if (post(); as post) {

  <app-avatar-circle
    class="size32"
    [avatarUrl]="post.author.avatarUrl"
  >
  </app-avatar-circle>

  <main class="post">
    <div class="post__header">
      <strong class="post__author">
        {{ post.author.firstName }} {{ post.author.lastName }}
        <span class="post__created-at">{{ post.createdAt | timeAgo }}</span>
      </strong>
    </div>
    <p class="post__content medium-text">{{ post.content }}</p>
    <div class="post__counters">
      <span class="post__comment-amount">
    <svg icon="comment" class="post__icon"></svg>
        <span class="post__comments-length">{{ comments().length }}</span>
      </span>
    </div>

    <div class="post-comment__wrapper">
      @for (comment of comments(); track comment.id) {
        <app-comment
          [comment]="comment"
        ></app-comment>
      }
    </div>
    <app-post-input
      placeholderText="Напишите комментарий"
      class="dashed-comment"
      [postId]="post.id"
      (created)="onCreated($event)"
      >
    </app-post-input>
  </main>
}
