<div class="chat-workspace-messages-wrapper">
  <div class="messages-wrapper">
    @for (group of groupedMessages(); track group[0]) {
      <span class="messages-wrapper__date mb32">{{ group[0] }}</span>
      @for (message of group[1]; track message.id) {
        <app-chat-workspace-message
          [message]="message">
        </app-chat-workspace-message>
      }
    }
  </div>

  <div class="messages-input mr4">
    <app-message-input
      (created)="onSendMessage($event)"
    ></app-message-input>
  </div>
</div>
