:host {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  height: 100dvh;
  background-color: var(--dark-color);
}

.main-menu {

  &__list {
    display: grid;
    grid-gap: 8px;
  }

  &__items {

  }

  &__icons {
    width: 16px;
    height: 16px;
  }

  &__links {
    color: var(--light-color);
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    font-size: 14px;
    align-items: center;
    width: 100%;
    padding: 16px 12px;
    border-radius: 2px;
    transition: background-color 0.1s linear, border-color 0.1s linear;

    &.main-menu__active,
    &:hover,
    &:focus-visible {
      background-color: var(--dark-hover-color);
      color: var(--primary-color);
    }
  }

}

.to-subscribers {

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    margin-top: 20px;


    &:hover {
      .to-subscribers__icon {
        transform: translateX(30px) rotate(90deg);
      }
    }

  }

  &__icon {
    height: 16px;
    width: 16px;
    transition: transform 0.2s linear;
  }
}

.sidebar-header {
  flex: 1;
}

.sidebar-footer {
  display: grid;
  grid-template-columns: 32px 1fr 14px;
  grid-gap: 12px;
  align-items: center;
  padding: 4px 16px;
  border-radius: 2px;
  background-color: var(--dark-hover-color);
  color: var(--primary-color);

  &__image {
    height: 30px;
    width: 32px;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__settings {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    transition: transform 0.2s linear;

    &:hover {
      transform: rotate(90deg);
    }

  }
}


