  <header class="profile-page__header">
@if (profile$ | async; as profile) {
    <app-profile-header
      [profile]="profile"
    >
    </app-profile-header>
}
  </header>

<form class="profile-form" [formGroup]="form">
  <div class="profile-form__wrapper">

    <div class="profile-form__header">
      <div class="profile-form__two-columns">
        <label class="profile-form__label"> Имя
          <input type="text" class="profile-form__input" formControlName="firstName"
                 placeholder="Введите данные">
        </label>

        <label class="profile-form__label"> Фамилия
          <input type="text" class="profile-form__input" formControlName="lastName"
                 placeholder="Введите данные">
        </label>
      </div>
      <label class="profile-form__label"> Telegram username
        <input type="text" class="profile-form__input" formControlName="username"
               placeholder="Введите данные">
      </label>
      <label class="profile-form__label"> О себе
        <textarea type="text" class="profile-form__input" formControlName="description"
                  rows="4"
                  placeholder="Введите данные">
      </textarea>
      </label>
      <p class="profile-form__avatar-text">Аватар</p>
      <app-avatar-upload>

      </app-avatar-upload>

      <label class="profile-form__label"> Навыкм
        <input type="text" class="profile-form__input" formControlName="stack"
               placeholder="Введите данные">
      </label>
    </div>
    <ul class="profile-form__settings">
      <li class="profile-form__settings-items">
        <a [routerLink]=""
           class="profile-form__icons-link">
          <svg
            class="profile-form__icons profile-form__icon-delete"
            icon="delete"></svg>
        </a>
        <a [routerLink]="['/login']"
           class="profile-form__icons-link">
          <svg
            class="profile-form__icons"
            icon="logout"></svg>
        </a>
      </li>
      <li class="profile-form__settings-items">
        <button
          class="profile-form__settings-buttons"
          type="button"
          (click)="this.router.navigate(['/profile/me'])"
        >Отмена
        </button>
        <button
          [routerLink]="['/settings']"
          [routerLinkActive]="['saveColor']"
          class="profile-form__settings-buttons"
          type="submit" (click)="onSave()">Сохранить
        </button>
      </li>
    </ul>
  </div>
</form>
