<router-outlet></router-outlet>

<!--<app-forms-experiment></app-forms-experiment>-->

<!--<form-->
<!--  #form='ngForm'-->
<!--  class="flex" (ngSubmit)="onSubmit(form)">-->

<!--  <input type="text" class="tt-input"-->
<!--         required-->
<!--         [ngModel]="person.firstName"-->
<!--         (ngModelChange)="onChange($event)"-->
<!--         [ngModelOptions]="{updateOn: 'blur'}"-->
<!--         name="firstName"-->
<!--         #usernameControl='ngModel'-->
<!--  >-->
<!--  @if (usernameControl.hasError('required') && usernameControl.touched) {-->
<!--    <span>Это поле обязательно!!!</span>-->
<!--  }-->

<!--  <input type="text" class="tt-input"-->
<!--         noReact-->
<!--         [(ngModel)]="person.lastName"-->
<!--         name="lastName"-->
<!--         #lastNameControl='ngModel'-->
<!--  >-->

<!--  @if (lastNameControl.hasError('noReact')) {-->
<!--    <span>{{ lastNameControl.getError('noReact').message}}</span>-->
<!--  }-->

<!--  <div ngModelGroup="address">-->
<!--    <input type="text" class="tt-input"-->
<!--           [(ngModel)]="person.address.city"-->
<!--           name="city"-->
<!--    >-->
<!--  </div>-->

<!--  <pre>{{ person | json }}</pre>-->

<!--  <button type="submit" class="button">Submit</button>-->
<!--</form>-->
