@import "fonts";
@import 'margins';

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --red-primary-color: #e99898;
  --light-transparent: rgba(255, 255, 255, 0.75);
  --dark-hover-color: #161616;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  outline: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

//------------------------------------------ Reset

body {
  height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--light-color);
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  line-height: 24px;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-size: 14px;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.h6 {
  font-size: 18px;
  font-weight: 800;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.medium-text {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-transparent);
}

.work-space {
  padding: 24px;
}

.size32 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.login-form {
  max-width: 440px;

  &__label {
    display: block;
    position: relative;
  }

  &__text {
    line-height: 16px;
    margin: 16px 0 8px;

  }

  &__input {
    background-color: var(--dark-color);
    color: var(--light-transparent);
    padding: 12px 20px;
    border: 1px solid var(--light-color);
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    &::placeholder {
      color: var(--light-transparent);
    }
  }

  &__button {
    position: absolute;
    top: 53%;
    right: 20px;
  }

  &__icon {
    height: 20px;
    width: 20px;
    color: var(--light-transparent);

    &.telegram {
      color: var(--light-color);
    }

    &.active {
      color: var(--primary-color);
    }
  }

  &__submit-btn {
    padding: 10px 0;
    color: var(--dark-color);
    background-color: var(--primary-color);
    width: 100%;
    font-size: 14px;
    border: 1px solid var(--dark-color);
    border-radius: 2px;
  }
}

.skill-tag {
  max-height: 24px;
  padding: 4px 8px;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark-hover-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
